
.h1{
    background-color: $h1;
    text-align: center;
    font-weight: bolder;
    font-size: 10rem;
}

.h2{
    background-color:$h2;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}