//background//
$bgparrafo: #d291bc;


$bgnegro: #000000;



$bgblanco: #ffffff;

$bgcurso:#e0bbe4;
$bgcurso1:#ccdcfd;
$bgcurso2:#bbbefe;
$bgcurso3: #9ea3f5;
$bgcurso4: #e8bffb;
$bgcurso5: #f2a5e8;
$bgcurso6: #dd99e2;



//background h1 al 6//

$h1:#f6d1de;

$h2:#e0bbe4;

//texto//
$negrita: bolder;

//mixing//

@mixin parrafo {
    
}