

.bgCurso{
    background-color: $bgcurso;
   
 }
 
 .bgcurso1{
 background-color:$bgcurso1 ;
 }
 
 .bgcurso2{
     background-color:$bgcurso2;
 }
 
 .bgcurso3{
     background-color: $bgcurso3 ;
 }
 
 .bgcurso4{
     background-color: $bgcurso4;
 }
 
 .bgcurso5{
     background-color:$bgcurso5;
 }
 
 .bgcurso6{
     background-color:$bgcurso6;
 }

