.divfigure{
    background-image: url(Imagenes/backgroundimage2.png) ;
 background-size: cover;
 background-repeat: none;
 }

 .bgfigure1{
    border-color: #000000;
    border-style: solid;
    background-color: $bgnegro;
}

.fontFigure{
    font-size: 2rem;
    font-weight: bolder;
    color: $h1;
    transition: font-size 1s;
}

.fontFigure:hover{
font-size: 3rem;
}

.sectionImg{
    border-color: black;
    border-style: solid;

}


.parrafo{
    background-color: $bgparrafo;
    font-size: 3rem;
    overflow: hidden;
    padding: 1rem 1rem;

}