//mixin flex para centrar//
@mixin flex($dflex,$jcontent,$aitem){
    display: $dflex;
    justify-content: $jcontent;
    align-items: $aitem;
}

.divfigure{
background-image: url(Imagenes/backgroundimage2.webp);
 background-size: cover;
 background-repeat: none;
 }

 .bgfigure1{
    @include flex (flex,center,center);
    border-color: #000000;
    border-style: solid;
    border-radius: 1rem;
    background-color: $bgnegro;
    
}

.fontFigure{
    font-size: 2rem;
    font-weight: bolder;
    color: $h1;
    transition: font-size 1s;
}

.fontFigure:hover{
font-size: 2.5rem;
}

.sectionImg{
    border-color: black;
    border-style: solid;

}


.parrafo{
    background-color: $bgparrafo;
    font-size: 3rem;
    overflow: hidden;
    padding: 1rem 1rem;
    text-align: center;

}