
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

/*imagen de fondo*/
body{
    background-image: url(Imagenes/imagen-fondo.jpeg) ;
    background-size: cover;
    background-repeat: none;
}

/*etiquetas para nav*/
.bgNav{
    background-color: rgba(186, 25, 236, 0.55);
}




.navLi{
margin-left: 120px;
margin-right: 0;

}


.letra{
    color:black;
    font-size: x-large;
    text-decoration:none;
    padding: 0px 1px;
    font-weight: bolder;
    transition: 1s;

}
a:hover{
    text-decoration: underline;
    color: rgb(247, 202, 228);
}

/*header*/

header img{
    width: 100%;
}

/*body*/


.h1{
    background: linear-gradient(90deg, rgba(186,25,236,1) 41%, rgba(255,0,194,0.4683006991859243) 50%);
    text-align: center;
    font-weight: bolder;
    font-size: 10rem;
}

.h2{
    background-color:rgb(240, 41, 240) ;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
/*index*/

.parrafo{
    background-color: rgba(186, 25, 236, 0.55);
    font-size: 3rem;
    overflow: hidden;
    padding: 1rem 1rem;

}


.sectionImg{
    border-color: black;
    border-style: solid;


}


/*footer*/

footer{
    background-color: black;
}

.pie{
	text-align: center;
	padding: 6px 20px;
}

#h3{
    font-weight: bolder;
    font-size:25px;
    color: white;

    
}

/*serviciopestañas*/

.serviciosPesta{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}

   .serviciosPesta figure{
    text-align: center;
    background-color:darkmagenta ;
    margin-top: 2rem;
    height: 90rem;

   }

   .serviciosPesta figure img{
    height: 30rem;
    width: 70rem;
    margin-bottom: 3rem;
    
   }
   .serviciosPesta figure figcaption{
   font-weight: bolder;
   font-size: 7rem;
   color: black;
   margin-bottom: 20rem;
   }

   .serviciosPesta figure p{
    font-size: 5rem;
    color: rgb(42, 0, 82);
    margin-bottom: 15rem;
   }

#parrafoPesta{
    font-weight: bolder;
    font-size: 3rem;
    background-color: rgba(186, 25, 236, 0.55);
    text-align: center;
    margin-top: 1rem;

}


/*serviciouñas*/

.serviciosUñas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:20px;
    margin-left: 2rem;

}

    .serviciosUñas figure{
        text-align: center;
        background-color:darkmagenta;
        margin-top: 2rem;
    }

    .serviciosUñas figure img{
        height: 40rem;
        width: 40rem;
    }

    .serviciosUñas figure figcaption{
        font-weight: bolder;
        font-size: 6rem;
        color: black;
        margin-bottom: 20rem;
    }

    .serviciosUñas figure p{
        font-size: 5rem;
        color: rgb(42, 0, 82);
        margin-bottom: 15rem;
        
    }

    

/*contacto*/


.sectionContacto{
    display: flex;
    justify-content: flex-start;
}


.imgContacto{
    width: 13rem;
    height: 13rem;
}

.pContacto{
    font-size: 6rem;
    margin-top: 6rem;

}

.divContacto{
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin: 2rem;
}



.sectionMensaje{
    display: flex;
    flex-direction: column;
}

    .sectionMensaje div{
        margin-top: 1rem;
        margin-left: 1rem;
    }
  
   .sectionMensaje div label{
      font-weight: bolder;
      font-size: 4rem;
      color: darkmagenta;
      margin-right: 1rem;
   }

   .sectionMensaje div input{

      width: 13rem;
      height: 4rem;

   }

.divInput{
    border-color: darkmagenta;
    border-style: solid;
    color: darkmagenta;
    border: 4rem 4rem;
    margin-bottom: 1rem;

}

/*GRID*/
/* curso de uñas*/

.divCurso{
    background-color:rgb(240, 41, 240) ;
    font-size: 3rem;
    margin-top: 2rem;
    
}

.bgCurso{
   background-color: rgba(186, 25, 236, 0.55);
  
}


/*media*/

    @media(max-width: 480px){
        .body{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:"nav"
            "header"
            "main"
            "divMain"
            "imgs"
            "footer" ;
        }

        #nav{
            grid-area: nav;
            width: 100%;
        }

        #header{
            grid-area: header;
            width: 100%;
        }

        #main{
            grid-area: main;
        }

        .divMain{
            display: flex;
            flex-direction: column;
            height: 20%;

        }

        .divMain #aside{
            justify-self: center;
            margin-left: 20%;
        }

        #footer{
            grid-area: footer;
            width: 100%;
        }

        #imgs{
            grid-area: imgs;
        
        }

        .imagenes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 25%;
        }

        .imagenes img{
            width: 60%;
            height: 50%;
        }

    .cursoGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "navCurso"
        "headerCurso"
        "mainCurso"
        "sectionCurso"
        "footerCurso"
        ;
    }   
    
    #sectionCurso{
        grid-area: sectionCurso;
        width: 100%;
    }

    #navCurso{
        grid-area: navCurso;
        width: 100%;
    }

    #headerCurso{
        grid-area: headerCurso;
        width: 100%;
    }

    #mainCurso{
        grid-area: mainCurso;
        width: 100%;
    }

    #footerCurso{
        grid-area: footerCurso;
        width: 100%;
    }
      

    }
@media(max-width: 1024px){
    .cursoGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "navCurso"
        "headerCurso"
        "mainCurso"
        "sectionCurso"
        "footerCurso"
        ;
    }

    .body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:"nav"
        "header"
        "main"
        "divMain"
        "imgs"
        "footer" ;
    }
    }


/*animacion de la profe*/
    @keyframes imgcurso{
        0%{width: 15%; background-color: pink;}
        50%{width: 50%; background-color: violet;}
        100%{width: 100%; background-color: deeppink;}
    }
    
    .animate{
        animation-name: imgcurso;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
    }



        
    









  









