
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

/*imagen de fondo*/

.main{
    overflow-x: hidden;
}

/*etiquetas para nav*/
.bgNav{
    background-color: #ffffff;
}


.navLi{
    margin-left: 60px;
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    transition: font-size 1s;
    }

.navLi a:hover{
    font-size: 3rem;
    color: black;
} 


.letra{
    text-decoration:none;
    font-size: 1rem;
    font-weight: bolder;
}


/*header*/

header img{
    width: 100%;
}

/*body*/


.h1{
    background-color: #f6d1de;
    text-align: center;
    font-weight: bolder;
    font-size: 10rem;
}

.h2{
    background-color:#e0bbe4;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
/*index*/

.parrafo{
    background-color: #d291bc;
    font-size: 3rem;
    overflow: hidden;
    padding: 1rem 1rem;

}

.divfigure{
   background-image: url(Imagenes/backgroundimage2.png) ;
background-size: cover;
background-repeat: none;
}

.bgfigure1{
    border-color: #000000;
    border-style: solid;
    background-color: black;
}


.fontFigure{
    font-size: 2rem;
    font-weight: bolder;
    color: #f6d1de;
    transition: font-size 1s;
}

.fontFigure:hover{
font-size: 3rem;
}

.sectionImg{
    border-color: black;
    border-style: solid;

}




/*footer*/

footer{
    background-color: black;
}

.pie{
	text-align: center;
	padding: 6px 20px;
}

#h3{
    font-weight: bolder;
    font-size:25px;
    color: white;

    
}

/*serviciopestañas*/

.serviciosPesta{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}

   .serviciosPesta figure{
    text-align: center;
    background-color:darkmagenta ;
    margin-top: 2rem;
    height: 90rem;

   }

   .serviciosPesta figure img{
    height: 30rem;
    width: 70rem;
    margin-bottom: 3rem;
    
   }
   .serviciosPesta figure figcaption{
   font-weight: bolder;
   font-size: 7rem;
   color: black;
   margin-bottom: 20rem;
   }

   .serviciosPesta figure p{
    font-size: 5rem;
    color: rgb(42, 0, 82);
    margin-bottom: 15rem;
   }

#parrafoPesta{
    font-weight: bolder;
    font-size: 3rem;
    background-color: rgba(186, 25, 236, 0.55);
    text-align: center;
    margin-top: 1rem;

}


/*serviciouñas*/

.serviciosUñas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:20px;
    margin-left: 2rem;

}

    .serviciosUñas figure{
        text-align: center;
        background-color:darkmagenta;
        margin-top: 2rem;
    }

    .serviciosUñas figure img{
        height: 40rem;
        width: 40rem;
    }

    .serviciosUñas figure figcaption{
        font-weight: bolder;
        font-size: 6rem;
        color: black;
        margin-bottom: 20rem;
    }

    .serviciosUñas figure p{
        font-size: 5rem;
        color: rgb(42, 0, 82);
        margin-bottom: 15rem;
        
    }

    

/*contacto*/



/*GRID*/
/* curso de uñas*/

.divCurso{
    background-color:rgb(240, 41, 240) ;
    font-size: 3rem;
    margin-top: 2rem;
    
}

.bgCurso{
   background-color: #e0bbe4;
  
}

.bgcurso1{
background-color: #ccdcfd;
}

.bgcurso2{
    background-color: #bbbefe;
}

.bgcurso3{
    background-color: #9ea3f5;
}

.bgcurso4{
    background-color: #e8bffb;
}

.bgcurso5{
    background-color: #f2a5e8;
}

.bgcurso6{
    background-color: #dd99e2;
}




/*animacion de la profe*/
    @keyframes imgcurso{
        0%{width: 15%; background-color: pink;}
        50%{width: 50%; background-color: violet;}
        100%{width: 100%; background-color: deeppink;}
    }
    
    .animate{
        animation-name: imgcurso;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
    }



        
    









  









